@import url(https://fonts.googleapis.com/css?family=Roboto);

.c2h-body {
  background-color: #182630;
  color: #dedede;
  font-family: Roboto, sans-serif;
}

.c2h-container-fluid {
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.c2h-col {
  padding: 5px !important;
}

.c2h-card {
  background-color: #1b2b37 !important;
  color: #ccc;
}

.card-body {
  /* Bad practise.. replace this later with custom class */
  padding: 10px !important;
  padding-bottom: 0px !important;
}

.card-title {
  /* Bad practise.. replace this later with custom class */
  opacity: 0.7;
}

.c2h-chart {
  background-color: transparent !important;
}

.c2h-dp {
  border: 3px solid rgba(255, 255, 255, 0.4);
}

.c2h-title {
  font-size: 110%;
  color: rgba(255, 255, 255, 0.7) !important;
}

.c2h-sub-title {
  font-size: 95%;
  color: rgba(255, 255, 255, 0.6) !important;
}

.box {
  background-color: #182630;
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
  flex: 1 1 auto;
}

.sparkboxes .box1 {
  background-image: linear-gradient(100deg, #1b2b37 1%, #0396ff 100%);
}

.sparkboxes .box2 {
  background-image: linear-gradient(100deg, #1b2b37 1%, #4c83ff 100%);
}

.sparkboxes .box3 {
  background-image: linear-gradient(100deg, #1b2b37 1%, #fd6585 100%);
}

.sparkboxes .box4 {
  background-image: linear-gradient(100deg, #1b2b37 1%, #5961f9 100%);
}

.spark-text {
  font-size: 20px;
}

.fa-big {
  font-size: 60px !important;
  vertical-align: middle !important;
}

.box-rhs {
  margin-left: auto;
  padding-right: 30px;
}

@media only screen and (max-width: 1200px) {
  .box-rhs {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 490px) {
  .spark-text {
    font-size: 15px;
  }

  .fa-big {
    font-size: 40px !important;
  }

  .box-rhs {
    padding-right: 20px;
  }
}

@media only screen and (max-width: 340px) {
  .spark-text {
    font-size: 12px;
  }

  .fa-big {
    font-size: 25px !important;
  }
  .box-rhs {
    padding-right: 10px;
  }
}
